@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: '#5897CD';
}

body {
  background-color: #faf7f3;
}

.swiper-button-prev {
  display: hidden !important;
}
.swiper-button-next {
  display: hidden !important;
}
.swiper-pagination-bullet-active {
  background-color: #0e1318;
}
.clip-path {
  clip-path: ellipse(100% 55% at 48% 44%);
}
.about-us-hero {
  background-color: transparent;
  background-image: linear-gradient(180deg, #faf7f3 83%, #ffffff 83%);
}
.item-shadow {
  box-shadow: rgb(0 0 0 / 14%) 0px 15px 50px 0px;
}
@font-face {
  font-family: 'Avalon';
  src: url('/fonts/Avalon-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avalon';
  src: url('/fonts/Avalon-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.avalon-heading {
  font-family: 'Avalon', sans-serif;
  font-weight: bold; /* Adjust as needed */
}

/* .imgSelectionDiv::before {
  content: '';
  display: block;
  width: 0px;
  height: 0px;
  position: absolute;
  right: -38px;
  top: -10px;
  border-width: 18px;
  border-style: solid;
  border-image: initial;
  border-color: var(--primary) var(--primary) transparent transparent;
  border-width: 23px;
  border-radius: 0px;
} */
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-2px); /* Adjust the distance and direction as needed */
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(2px); /* Adjust the distance and direction as needed */
  }
}

.error_animation {
  position: relative; /* Add position relative to the parent container */
  animation: shake 0.5s ease-in-out;

  &::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px; /* Adjust the size of the arrow */
    border-style: solid;
    border-color: transparent transparent red transparent; /* Adjust the color of the arrow */
  }
}
